@use "@/website/styles/all.scss" as *;

.pill {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  background: rgba(255,255,255,.14);
  border: 1px solid rgba(255,255,255,.28);
  backdrop-filter: saturate(160%) blur(8px);
  font-size: $font-size-small;
  font-family: $font-title;
  letter-spacing: .2px;
  white-space: nowrap;
}

.icon { display: grid; place-items: center; font-size: 1rem; }
.text { line-height: 1; }
