@use "@/app/styles/all.scss" as *;


.card {
  background: $white;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;
  border: 1px solid $gray-200;
  padding: $spacing-6;

  &.hoverable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
