/* src/app/components/layouts/AppLayout/AppLayout.module.scss */
.appShell {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.sidebar {
  flex: 0 0 280px;
}
.content {
  flex: 1 1 auto;
  // min-width: 0;
  // overflow: auto;
}
