@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base;
  color: $dark-gray;
  background-color: $white;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

button:focus-visible,
a:focus-visible {
  outline: 3px solid $accent-orange;
  outline-offset: 2px;
} 

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
}
