@use "@/website/styles/all.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-sm $spacing-lg;
  border-radius: $border-radius-xl;
  font-weight: 600;
  transition: all $transition-fast;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .content {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    position: relative;
    z-index: 1;
  }

  .icon {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
}

.primary {
  background-color: $primary-blue;
  color: $primary-yellow-light;
  box-shadow: $shadow-md;
  font-weight: 400;
  border-radius: 50px;
  font-family: $font-playfair;
  border: 1px solid $primary-yellow;

  &:hover:not(:disabled) {
    background-color: $primary-blue-dark;
    box-shadow: $shadow-lg;
  }
}

.secondary {
  background-color: $primary-yellow;
  color: $black;
  box-shadow: $shadow-md;
  border: none;

  &:hover:not(:disabled) {
    background-color: $primary-yellow;
    box-shadow: $shadow-lg;
  }
}

.outline {
  background-color: transparent;
  color: $primary-blue;
  border: 2px solid $primary-blue;

  &:hover:not(:disabled) {
    background-color: $primary-blue;
    color: $white;
  }
}

.default {
  // background-color: transparent;
  color: $primary-blue;
  border: 2px solid $primary-blue;
  cursor: pointer;
  // &:hover:not(:disabled) {
  //   background-color: $primary-blue;
  //   color: $white;
  // }
}

.small {
  padding: 5px 10px;
  font-size: $font-size-small;
}

.medium {
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-small;
}

.large {
  padding: $spacing-md $spacing-xl;
  font-size: $font-size-large;
}

.fullWidth {
  width: 100%;
}

.xlg {
  padding: $spacing-lg $spacing-xl;
  font-size: $font-size-h2;
}
