.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  @include m.input-base;
  
  &.withIcon {
    padding-left: v.$spacing-10;
  }
}

.icon {
  position: absolute;
  left: v.$spacing-3;
  top: 50%;
  transform: translateY(-50%);
  color: v.$gray-400;
  z-index: 1;
}
