@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.socialWorkPage {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 280px;
  padding: $spacing-8;
}

.header {
  text-align: center;
  margin-bottom: $spacing-8;
}

.title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $white;
  background-color: $primary-blue;
  padding: $spacing-4 $spacing-6;
  border-radius: $border-radius-lg;
  margin-bottom: $spacing-6;
}

.socialWorksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacing-6;
}

.socialWorkCard {
  text-align: center;
  padding: $spacing-8;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  margin-bottom: $spacing-4;
}

.logo {
  max-width: 120px;
  max-height: 60px;
  object-fit: contain;
}

.socialWorkName {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  color: $gray-900;
}
