@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-md;
  font-weight: $font-weight-medium;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary-blue;
    color: $white;
    text-decoration: none;

    &:hover:not(:disabled) {
      background-color: $primary-blue-dark;
      color: $white;
    }
  }

  &.third {
    background-color: $black;
    color: $white;
    text-decoration: none;

    &:hover:not(:disabled) {
      background-color: $primary-blue-dark;
      color: $white;
    }
  }

  &.secondary {
    background-color: $gray-100;
    color: $gray-700;

    &:hover:not(:disabled) {
      background-color: $gray-200;
    }
  }

  &.success {
    background-color: $success-green;
    color: $white;

    &:hover:not(:disabled) {
      background-color: $success-green;
    }
  }

  &.danger {
    background-color: $danger-red;
    color: $white;

    &:hover:not(:disabled) {
      background-color: $danger-red;
    }
  }

  &.ghost {
    background-color: transparent;
    color: $primary-blue;

    &:hover:not(:disabled) {
      background-color: $secondary-blue;
    }
  }

  &.sm {
    padding: $spacing-2 $spacing-3;
    font-size: $font-size-sm;
  }

  &.md {
    padding: $spacing-3 $spacing-4;
    font-size: $font-size-base;
  }

  &.lg {
    padding: $spacing-4 $spacing-6;
    font-size: $font-size-lg;
  }

  @media (max-width: $breakpoint-md) {
    &.lg {
      padding: $spacing-3 $spacing-5;
      font-size: $font-size-base;
    }
  }

  @media (max-width: $breakpoint-sm) {
    width: 100%;
    max-width: 100%;
    justify-content: center;

    &.sm {
      padding: $spacing-2 $spacing-3;
      font-size: $font-size-xs;
    }

    &.md {
      padding: $spacing-2 $spacing-4;
      font-size: $font-size-sm;
    }

    &.lg {
      padding: $spacing-3 $spacing-4;
      font-size: $font-size-base;
    }
  }
}
